<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="restconfig" type="System.Configuration.NameValueSectionHandler" />
		<section name="resttests" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<!-- There is another, duplicated section below for non-windows configurations due to platform differences
       in fetching the NameValueSectionHandler. Hopefully this will be resolved in .netcore release but 
       so far is required for Mono
  -->
	<restconfig>
		<add key="exportMetadataDirectory" value="D:\AVEVA_DATA\AGCC\PreProcessor\Import\03_ProjectDocuments" />
		<add key="exportFilesDirectory" value="D:\AVEVA_DATA\AGCC\PreProcessor\Import\03_ProjectDocuments" />
		<add key="defaultRestHomeUri" value="https://s502as-isd-ap5.sibur.local:5443/dctm-rest.72P33/services" />
		<add key="windowsAuthentication" value="false" /><!--If used, basic authentication is disabled automatically; otherwise, default user name and password are to be specified-->
		<add key="defaultUsername" value="srvaveva" /><!--Basic authentication which is required only if Windows authentication is disabled-->
		<add key="defaultPassword" value="crypted:527F033d9b4A56C7339352E1e4A3901f24669234A379DB4b548A6798CE2A8aDDB63486abe0C47f1E0d" /><!--Basic authentication which is required only if Windows authentication is disabled-->
		<add key="defaultRepositoryName" value="ICENTER_P" />
		<add key="defaultPrintResult" value="true" />
		<add key="generateCSV" value="true" />
		<add key="generateJSON" value="true" />
		<add key="getFiles" value="true" />
		<add key="getDelta" value="false" />
		<add key="ignoreInvalidSslCertificate" value="false" />
		<add key="timeStampfilePath" value=".\timeStamp.txt" />
		<add key="itemsPerPage" value="35000" />
		<add key="svaeResultFileName" value="export_DocumentsMetadata.csv" />
		<add key="logLevel" value="fatal" /><!--'fatal', 'error', 'warning', 'info', or 'debug'-->
		<add key="dql_doc" value="" />
		<add key="dql_trm" value="" />
		<add key="link_dql" value="" />
	</restconfig>
	<resttests>
		<!-- artefacts NOT used in code
    <add key="CreateTempDocs" value="true"/> 
    <add key="AssignDocs" value="true"/>
    <add key="CreateFromTemplate" value="true"/>
    <add key="MoveDocumentsToParent" value="true"/>
    <add key="GetDocumentForView" value="true"/>
    <add key="GetDocumentHistory" value="true"/>
    <add key="UploadRendition" value="true"/>
    <add key="ViewRenditions" value="true"/>
    <add key="ImportAsNewVersion" value="true"/>
    <add key="ReturnListOfDocuments" value="true"/>
    <add key="Search" value="true"/>
    <add key="ExportParent" value="true"/>
    <add key="ExportListOfFiles" value="true"/>-->
	</resttests>
</configuration>
